.Password_request_step_four_main {
  background: #f2f6ff !important;
  padding: 30px 20px !important;
}

.password_fout_content {
  background: #fff !important;
  padding: 30px 20px !important;
  border-radius: 12px !important;


}

.h3_text {
  font-size: 36px !important;
  font-weight: 600 !important;
  color: #020140 !important;
}

@media only screen and (max-width: 800px) {
  .Password_request_step_four_main {
    padding: 30px 0px !important;
  }

  .h3_text {
    font-size: 30px !important;
    font-weight: 800 !important;
    color: #020140 !important;
  }
}
