.Password_request_step_four_main{
    background: #F2F6FF !important;
    padding: 30px 20px !important;
    border-radius: 12px !important;
}


.password_fout_content{
    background: #fff !important;
    padding: 30px 20px !important;
}

.h3_text{
    font-size: 36px !important;
    font-weight: 600 !important;
    color: #020140 !important;
}