.listCrd_fst_txt {
  color: #020140;
  font-size: 20px;
  font-weight: 900 !important;
}

.listCrd_scnd_txt {
  color: #000E31;
  font-size: 16px;
  font-weight: 500;
}

.listCrd_button {
  background-color: #e60058;
  color: #ffffff;
  border: none;
  border-radius: 45px;
  font-weight: 600 !important;
  padding: 8px 22px;
  font-size: 18px;
  width: 100% !important;
  height: 55PX !important;
}

.listCrd_button:hover {
  background-color: red;
}

.hrt {
  color: #e60058 !important;
  padding: 10px 20px !important;

}

.like_hrt {
  border: 1px solid #fce0eb;
  border-radius: 39px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.endSale {
  background-color: #d8d8d8;
  border-radius: 40px;
  border: 1px solid #ffffff;
  font-size: 16px;
  width: 18%;
  padding: 3px 2px;
  position: absolute;
  top: 27px;
  left: 38px;
}

/* Title style */

.webGachaList_title {
  background-image: url(../Assets/list_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;

  border-radius: 12px !important;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 3px 4px 3px black !important;
  /* -webkit-text-stroke: 1.7px black !important; */
}


/* Pagination style */

.paginationBgC > ul > li > button{
  background-color: white !important;
}
.paginationBgC > ul > li{
padding: 8px !important;
}
.paginationBgC > ul > li > button:focus{
  border-color: #e60058 !important;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  font-weight: 500 !important;
  /* font-size: 0.875rem; */
  line-height: 1.43;
  letter-spacing: 0.01071em;
  border-radius: 10px !important;
  text-align: center;
  box-sizing: border-box;
  min-width: 42px !important;
  height: 40px !important;
  padding: 0 6px;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.87);
}

.css-19kzrtu {
  padding: 24px 5px !important;
}


@media only screen and (max-width:700px) {
  .gok{
    padding: 0px !important;
  }
  .hrt {
    display: none !important;
  }
  .like_hrt{
    display: none !important;
  }

  .listCrd_button {
    padding: 5px 10px !important;
    height: 70px !important;
}

  .webGachaList_title {
    background-image: url(../Assets/list_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
  }
  .gacha_Btn{
    height: 70px !important;
  }

  .endSale {
    background-color: #d8d8d8;
    border-radius: 40px;
    border: 1px solid #ffffff;
    font-size: 16px;
    width: 28%;
    padding: 3px 2px;
    position: absolute;
    top: 20px;
    left: 17px;
}

.page_header {
  color: #ffffff;
  font-size: 44px;
  font-weight: 600;
  /* -webkit-text-stroke: 1.7px black !important; */
  display: flex !important;
  text-align: center !important;
  padding: 0px 46px !important;
}

.listCrd_scnd_txt{
  display: none !important;
}

.css-19kzrtu {
  padding: 0px !important;
}

.paginationBgC > ul > li{
  padding: 4px !important;
  }

  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    font-weight: 500 !important;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    border-radius: 10px !important;
    text-align: center;
    box-sizing: border-box;
    min-width: 42px !important;
    height: 40px !important;
    padding: 0 6px;
    margin: 0 3px;
    color: rgba(0, 0, 0, 0.87);
  }

  .aGNPad{
    padding: 0px !important;
  }

}


.hvrBx{
  overflow: hidden !important;
}
.hvrImg{
  transition: transform .7s ease;
}
.hvrBx:hover .hvrImg{
  transform: scale(1.04);
}



.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff !important;
  /* border: 1px solid #e60058 !important; */
  background-color: #2EB3FF !important;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.MuiPaginationItem-previousNext{
border: 1px solid #e60058 !important;
  color: #e60058 !important;

}



