

@media only screen and (max-width:600px) {
    :where(.css-dev-only-do-not-override-k7429z).ant-steps.ant-steps-vertical {
        display: flex;
        flex-direction: column;
        gap: 1rem !important;
    }

    .outlone_tab {
        border: 1px solid #2EB3FF;
        border-radius: 15px;
        padding: 15px 15px 15px 0px;
    }
    .ant-steps .ant-steps-item-container {
        outline: none;
        padding-top: 0.3rem;
        /* background-color: #2EB3FF !important; */
    }

}


.padding_bttt{
    padding-bottom: 5rem;
}
.ant-steps.ant-steps-vertical >.ant-steps-item {
    display: flex;
    align-items: center;
}