.single_card_bg {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 15px 10px !important;
    cursor: pointer;
}

.card_single_content {
    display: flex;
    gap: 15px !important;
}


.card_single_content {
    font-weight: 600;
    font-size: 20px;
    color: #2EB3FF
}

.single_tarpize_card {
    cursor: pointer;
    width: 95% !important;
}

@media only screen and (max-width:600px) {
    .card_single_content {
        font-weight: 600 !important;
        font-size: 16px !important;
    }
    
}

