.Purchase_process_one{
    background: #F2F6FF;
    padding: 40px 20px !important;
}

.purc_nam{
    font-weight: 600 !important;
}

.cradit_inpit{
    background: #FFFFFF;
/* Light Blue */

border: 1px solid #8AC7FF;
border-radius: 12px;
padding: 20px 20px !important;
/* width: 100% !important; */
}

.credit_card_lable{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;    
    color: #020140;
    padding: 1.5rem 0rem;
}


.cradit_inpit:focus{
    outline: none;
    border: 1px solid   #8AC7FF;
}

.resposssss{
    width: 50% !important;
}


.card_caridt{
    font-weight: 400;
font-size: 14px;
line-height: 140%;
/* or 20px */


/* Black */

color: #020140;
}

.card_caridt > p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
padding: 1rem 0rem !important;
margin-bottom: 0px !important;
    
    color: #020140;
}


.cridtt_res{
    width: 50% !important;
}

.lftCrd{
    width: 100%;
}

.nodeB2:hover{
    background-color: red !important;
    color:#ffffff;
}
.nodeB1:hover{
    background-color: #E60058 !important;
    color:#ffffff;
}

@media only screen and (max-width:700px){
    .change-dir{
        flex-direction:column !important ;

    }
    .resposssss{
        width: 100% !important;
    }
    .cridtt_res{
        width: 100% !important;
    }
    .Purchase_process_one{
padding: 40px 0px !important;
}
}

@media only screen and (min-width:600px) and (max-width:768px) {
    .credit_card_lable{
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 140%;    
        color: #020140;
        padding: 1.5rem 0rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .credit_card_lable{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;    
        color: #020140;
        padding: 1.5rem 0rem;
    }

    .lftCrd{
        width: 100%;
    }
}