.edit_main_page{
    background: #F2F6FF !important;
    padding: 30px 20px !important;
}

.edit_text{
    font-size: 12px !important;
    color: #020140 !important;
    font-weight: 400 !important;
}