.rd_btn {
    color: #ffffff;
    background-color: #e60058 !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding: 13px 15px !important;
    width: 100% !important;
    border-radius: 45px;
    border: 1px solid #e60058;
}

.whi_btn{
    color: #e60058;
    background-color:  #ffffff!important;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding: 13px 15px !important;
    width: 100% !important;
    border-radius: 45px;
    border: 1px solid #e60058;
}


.size-btan{
    color: #e60058;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 16px;
    padding: 12px 15px !important;
    background-color: #ffffff !important;
    border: 1px solid #e60058;
    border-radius: 45px;
    font-size: 16px !important;
}

.MyPageCoupon_h3{
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
text-align: center;
color: #020140;
margin-top: 36px;

}
.MyPageCoupon_p1{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
letter-spacing: -2px;
text-align: center;
color: #020140;
margin-top: 17px;
}

.MyPageCoupon_p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
letter-spacing: -2px;
text-align: center;
color: #020140;
}

.MypageCouponContentTwoBg{
    background-color: #F2F6FF;
}

.thisCouponBorder{
    border-radius: 12px;
}

@media only screen and (max-width: 700px) {
    .medi_two_btn{
      display: flex;
      flex-direction: column;
      
    }
    
    .MyPageCoupon_h3{
        font-size: 26px !important;
        margin-top: 0px;
    }
    .down_btn{
        margin-top: 10px;
    }
  }