@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');



h1{
    /* font-family: 'Barlow Semi Condensed', sans-serif !important ; */
    /* font-family: 'Barlow Semi Condensed', sans-serif !important; */
    font-family: 'Noto Sans JP', sans-serif !important;
}
h2,h3,h4,h5,h6,p,span,li{
    /* font-family: 'Barlow Semi Condensed', sans-serif !important ; */
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    /* font-family: 'Noto Sans JP', sans-serif !important; */
}



.main_footer_bg{
    background-color: white !important;
    padding: 40px 30px 15px 30px !important;
}

.upper > p {
    color: #020140 !important;
    font-weight: 600 !important;
}
    
.all-right{
    border-top: 1px solid #000;
    
}



@media only screen and (max-width:700px){
    .upper{
        flex-direction:column !important;
        text-align: center;
    }
}