@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@900&family=Barlow+Semi+Condensed&family=Barlow:wght@900&display=swap');



/* font-family for main heading  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');




h1{
   
    font-family: 'Noto Sans JP', sans-serif !important;
}
h2,h3,h4,h5,h6,p,span,li{
    font-family: 'Barlow', sans-serif;
  
}



.main_footer_bg{
    background-color: white !important;
    padding: 40px 30px 15px 30px !important;
}

.upper > p {
    color: #020140 !important;
    font-weight: 700 !important;
}
    
.all-right{
    border-top: 1px solid #000;
    

}






@media only screen and (max-width:700px){
    .upper{
        flex-direction:column !important;
        text-align: center;
    }


}