.Privacy_policy{
    background: #F2F6FF;
    padding: 24px 24px 50px 24px !important;
}

.main_privacy_img{
    background-image: url(../Assets/bg_p.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 254px !important;
    border-radius: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center
    ;
}


.ppp_heading{
    font-size: 60px !important;
    color: #ffffff;
    font-weight: 500;
}
.main_heading{
   
    
    font-size: 60px !important;
    font-weight: 500 !important;
}

.privacy_content>h5{
    font-size: 20px !important;
    font-weight: 600; 
    
}

.privcy_heading_main{
    font-weight: 600;
font-size: 20px;
line-height: 140%;
margin-bottom: 0px !important;
padding-top: 24px ;
padding-bottom: 24px !important;

text-transform: uppercase;



color: #020140;
}




@media only screen and (max-width:700px){
    .main_heading {
      
        font-size: 35px !important;
    }

    .main_privacy_img{
        height: auto !important;
        padding: 56px 0px !important;
    }

    .privcy_heading_main {
        font-weight: 800 !important;
        font-size: 25px !important;
    }
    .priiiivay{
        font-size: 15px !important;
    }
}





@media only screen and (max-width:349px){
.ressss_hhhhhea{
    font-size: 23px !important;
    line-height:32px !important;
}
  }


  @media only screen and (min-width:350px) and (max-width:410px) {
    .ressss_hhhhhea{
        font-size: 28px !important;
        line-height:37px !important;
    }
  }

  @media only screen and (min-width:411px) and (max-width:699px) {
    .ressss_hhhhhea{
        font-size: 22px !important;
        line-height:30px !important;
    }


  }




  @media only screen and (min-width:700px) and (max-width:999px){
    .ressss_hhhhhea{
        font-size: 50px !important;
        line-height: 66px !important;

    }
  }








