.MypageEdit_bg{
    background-color: #F2F6FF;
    height: 100vh;
}


.edit_paaaaa{
    font-weight: 600 !important;
    font-size: 36px !important;
}
.red_button{
    background: #E60058;
border: 1px solid #FFFFFF;
border-radius: 45px;
padding: 16px 15px !important;
color: white !important;
width: 59% !important;
}
.editPage_p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;

color: #020140;
}


@media only screen and (max-width:700px){
    .edit_paaaaa {
        font-size: 26px !important;
}

}

@media screen and (max-width: 950px) {
    .red_button{
        background: #E60058;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    padding: 15px 15px !important;
    color: white !important;
    width: 100% !important;
    }
}

@media (min-width: 951px) and (max-width: 1100px) {
    .red_button{
        background: #E60058;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    padding: 15px 15px !important;
    color: white !important;
    width: 90% !important;
    }
}