.term_heading {
    font-size: 20px;
    color: #020140;
    text-transform: uppercase;
    margin-bottom: 0px;

    padding-top:24px !important ;
    padding-bottom: 24px !important;
    font-weight: 600;
}


:where(.css-k7429z).ant-steps {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 0;
  line-height: 1.5714285714285714;
  list-style: none;
  display: flex;
  gap: 8px !important;
  width: 100%;
  text-align: initial;
}

.term_of_serivrssf{
  background: #F2F6FF;
  padding-top:24px; 
  padding-bottom:24px;
  padding-left: 15px;
  padding-right: 15px !important; 
}

.scroll_text {
    background: #FFFFFF;
    border: 1px solid #D2E9FF;
    border-radius: 12px;
    padding: 40px 24px !important;
    height: 300px !important;
    overflow-y: scroll !important;
    margin: 2rem 0rem !important;
}

.scroll_text> p {
    color: #020140 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px;
}

.main_heading {
   
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2EB3FF;
  border-radius: 28px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.trmTowPera{
  font-size: 16px  !important;
  font-weight:400 !important   ;
  line-height: 22px  !important;
}

.trmupperTop{
  margin-top: 62px !important;
}

.privacyTitleMainaga{
  font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

@media only screen and (max-width:600px) {


  .trmupperTop{
    margin-top: 13px !important;
  }
  .mnhDd{
    padding: 0px 20px !important;
  }
  .term_heading {
    font-size: 23px !important;
    font-weight: 700 !important;
  }
  .trmTowPera {
    font-size: 15px !important;
  }
  .scroll_text> p{
    font-weight: 400 !important;
    
  }
}






  @media only screen and (max-width:349px){
    .privacyTitleMainaga{
      font-size: 16px !important;
      line-height: 45px !important;
      font-weight: 700px !important;
    }

    .term_heading {
      font-size: 20px !important;
      font-weight: 700px;
    }
  }


  @media only screen and (min-width:350px) and (max-width:410px) {
    .privacyTitleMainaga{
      font-size: 22px !important;
      line-height: 45px !important;
      font-weight: 600 !important;
    }
    .term_heading {
      font-size: 19px !important;
    }
  }

  @media only screen and (min-width:411px) and (max-width:699px) {
    .privacyTitleMainaga{
      font-size: 30px !important;
      line-height: 45px !important;
      font-weight: 700 !important;
    }
    .term_heading {
      font-size: 21px !important;
    }


  }




  @media only screen and (min-width:700px) and (max-width:1170px){
.privacyTitleMainaga {
  font-size: 35px !important;
}
  }




  @media only screen and (min-width:2000px){
    .term_of_serivrssf{
      height: 76vh !important;
      /* display: flex; */
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
    }
  }