.main_Register_page_3{
    background:#F2F6FF ;
    padding: 30px 20px !important;
    height: 100vh;
}


.h6_text{
    text-transform: uppercase !important;
    font-weight: 600 !important;
font-size: 20px !important;
}


.register_buttton{
    color: #E60058;
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
text-transform: uppercase;
background: #FFFFFF;
font-weight: 600 !important;
/* Main red */

border: 1px solid #E60058;
border-radius: 45px;
padding: 15px 10px !important;
width: 100%;
}
.register_buttton:hover{
background-color: #E60058 !important;
color: #FFFFFF !important;


}


.cople_Rs_ge_btn{
    background: #FFFFFF;
/* Main red */

border: 1px solid #E60058;
border-radius: 45px;
width: 318px;
height: 55px;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
text-transform: uppercase;

/* Main red */

color: #E60058;
}



@media only screen and (max-width:600px){
    .cople_Rs_ge_btn{
        width: 100% !important;
    }
    .main_Register_page_3{
        padding: 24px 0px !important;
    }

    .h6_text{
        font-size: 18px !important;
    }
}





:where(.css-dev-only-do-not-override-k7429z).ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item:first-child {
    margin-right:15px !important ;
}
:where(.css-dev-only-do-not-override-k7429z).ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item{
    margin-left: 15px !important;
}


@media only screen  and (max-width:700px){
    :where(.css-dev-only-do-not-override-k7429z).ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item:first-child {
        margin-right:0px !important ;
    }
    :where(.css-dev-only-do-not-override-k7429z).ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item{
        margin-left: 0px !important;
    }
    
}
