.password_h3{

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #020140;
}
/* .pasword_btn{
    background-color: #E60058 !important;
    border-radius: 45px;
    font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
text-transform: uppercase;
padding: 10px;
color: #FFFFFF;
} */
.pasword_input{

    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #D2E9FF;


}
.password_p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;

color: #020140;
}
.password_h5{

    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #020140;
}
.password_bg{
    background: #F2F6FF;
}
.password_bor{
    border-radius: 12px;
}
.red_button{
    background: #E60058;
border: 1px solid #FFFFFF;
border-radius: 45px;
padding: 10px 15px !important;
color: white !important;
width: 100% !important;
}