.Contact_h {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.Contact_input {
    border-radius: 12px;
    padding: 15px 10px;
    outline: none ;
    border: none ;
    border: 1px solid #8AC7FF !important;
}

.Contact_P {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #020140;
    padding: 1rem 0rem !important;
    margin-bottom: 0px !important;
}

.Contact_input:focus{
    box-shadow: none !important;

}



.red_button {
    background: #E60058;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    padding: 10px 15px !important;
    color: white !important;
    width: 100% !important;
}

.Contact_us_bg {
    padding: 30px 20px;
    background: #F2F6FF !important;
}


@media only screen and (max-width:700px
)
{
    .Contact_us_bg{
        padding: 30px 10px !important;
    }
}