.comfim_p{
    font-weight: 500 !important;
font-size: 20px;
line-height: 140%;
/* or 28px */

text-transform: uppercase;
color: #020140;
}
.border_table{
    border-radius: 12px 0px 0px  0px;
}
.border_table1{
    border-radius: 0px 12px 0px  0px;
}
.border_table2{
    border-radius: 0px 0px 0px  12px;
}
.border_table3{
    border-radius: 0px 0px 12px  0px;
}
.red_buttonnn{
 
/* padding: 18px 150px; */
background: #E60058;
border: 1px solid #FFFFFF;
width: 350px !important;
height: 58px !important;
font-size: 16px;

border-radius: 45px;
}
.colorofspan{
    color: #E60058;
}
.switch_icon{
    font-style: normal;
}
.ConfimYourRegistrationBg{
    background-color: #F2F6FF;
}

.tableBg{
    background-color: white;
}
.switch_icon{
    color: #2300F8;
}


@media only screen and (min-width: 300px) and (max-width: 450px) {

.red_buttonnn{
    background: #E60058;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    font-size: 16px;
    border-radius: 45px;
    }
}




@media only screen and (min-width: 450px) and (max-width: 800px) {

    .red_buttonnn{
        background: #E60058;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        width: 240px !important;
        font-size: 16px;
        border-radius: 45px;
         /* margin-right: 20px !important; */
        }

}



@media only screen and (max-width: 700px) {
  
   
    
   .rssssssspomm{
    flex-direction: column !important;
   }
   .comfim_p{
    font-size: 18px !important;
   }

   .red_buttonnn {
    padding:15px 80px !important ;
    margin-bottom: 2rem !important;
   }

   .aligment{
    text-align: start !important;
    width: 100% !important;
    font-size: 16px;
   }

   .ConfimYourRegistrationBg{
    margin-top: 27px;
}
  }