.Taprise_on_sale_bg {
    background: linear-gradient(180deg, #DAEDFF 0%, rgba(218, 237, 255, 0) 58.87%, #DAEDFF 100%);
    mix-blend-mode: normal;
    padding-top: 100px;
    padding-bottom: 100px;

}

.Taprise_on_sale_bg h1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;

    /* Black */

    color: #020140;
}

.gacha_Btn {

    /* width: 50% !important; */
    padding: 12px 0px;
    /* height: 55px; */
    background: #E60058;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

.AgainW{
    width:21% !important;
}