.tbUper {
    border: 2px solid #2EB3FF !important;
    border-radius: 50px !important;
    padding: 10px 10px;
}

.tabcor {
    /* color: #2d3b5d !important; */
    color: #000E31;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 19px;
    background-color: #ffffff !important;
    border-radius: 50px !important;
    width: 23% !important;
    transition: 1s;
}

.tabcor:hover {
    color: #2EB3FF !important;
}

.tabcor:focus {
    background-color: #2EB3FF !important;
    color: #ffffff !important;
}

.tabNowSale:focus {
    background-color: rgb(255, 214, 0) !important;
    color: black !important;
}

.tabSoon:focus {
    background-color: rgb(138, 199, 255) !important;
    color: black !important;
}

.tabEndsale:focus {
    background-color: rgb(216, 216, 216) !important;
    color: black !important;
}

.Mui-selected {
    background-color: #2EB3FF !important;
    color: #ffffff !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
}
.allTabs.Mui-selected {
    background-color: #2EB3FF !important;
    color: #ffffff !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
}

.tabNowSale.Mui-selected {
    background-color: rgb(255, 214, 0) !important;
    color: #ffffff !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
}

.tabSoon.Mui-selected {
    background-color: rgb(138, 199, 255) !important;
    color: #ffffff !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
}

.tabEndsale.Mui-selected {
    background-color: rgb(216, 216, 216) !important;
    color: #ffffff !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
}

.css-1wf8b0h-MuiTabs-flexContainer {
    display: flex !important;
    gap: 26px !important;
}


@media only screen and (max-width:600px) {

    .css-1wf8b0h-MuiTabs-flexContainer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        /* padding-left: 13px !important; */
        /* padding-right: 0px !important; */
        gap: 10px !important;

    }

    .css-1l4w6pd {
        display: flex !important;
        gap: 12px !important;
        flex-direction: column !important;
        justify-content: center !important;

    }

    .tabcor {
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 19px;
        background-color: #ffffff !important;
        border-radius: 50px !important;
        width: 100% !important;
        transition: 1s;
        min-height: 36px !important;
        padding: 0px 16px !important;
    }

    .tbUper {
        border: 2px solid #2EB3FF !important;
        border-radius: 15px !important;
        padding: 10px 8px;
    }


}

@media only screen and (min-width:605px) and (max-width:768px) {
    .css-1wf8b0h-MuiTabs-flexContainer {
        display: flex !important;
        gap: 14px !important;
    }
    .tabcor {
        color: #2d3b5d !important;
        font-size: 11px !important;
        font-weight: 700 !important;
        line-height: 19px;
        background-color: #ffffff !important;
        border-radius: 50px !important;
        width: 23% !important;
        transition: 1s;
    }
}

@media (min-width:770px) and (min-width:1024px) {
    .css-1wf8b0h-MuiTabs-flexContainer {
        display: flex !important;
        gap: 24px !important;
    }
}